<h1><%= @user.full_name %></h1>
<%= link_to 'Edit Patient Info', edit_user_path(@user)%>
<hr />
<h3><%= @user_appts.length <= 0 ? "No Appointments" : "Appointments" %>
<%= link_to 'Add', class: "ui blue button inverted" %></h3>
<ul>
  <% @user_appts.each do |appt| %>
    <li>
      <%= "#{appt.doc.dr_name} (#{appt.doc.dr_num}): #{appt.date}" %>
      <br/>
      <%= "Cancel"%>
      <%= "Reschedule" %>
      <br/>
      <br/>
    </li>
  <% end %>
</ul>
