<h1><%= @doc.dr_num %></h1>
<%= link_to 'Edit Doctor Info', edit_doc_path(@doc)%>
<hr />
<h3><%= @doc_appts.length <= 0 ? "No Appointments" : "Appointments" %>
<%= link_to 'Add', new_doc_appt_path(@doc), class: "ui blue button inverted" %></h3>
<div>
<ul>
  <% @doc_appts.each do |appt| %>
    <li>
      <%= "#{appt.user.full_name}: #{appt.date}" %>
      <br/>
      <%= link_to 'Cancel', doc_appt_path(@doc, appt), method: :delete %>
      <%= "Reschedule" %>
      <br/>
      <br/>
      </li>
  <% end %>
</ul>
</div>