<h1><%= @doc.dr_num %>'s Appointments</h1>
<%= link_to 'Add Appointment', new_doc_appt_path(@doc) %>
<hr />
<ul>
  <% @doctors.each do |doctor| %>
    <li>
      <%= doctor.user.full_name %>
      <br />
      <%= link_to 'Edit', doc_appt_path(@doc, doctor), method: :delete %>
      <%= link_to 'Remove', doc_appt_path(@doc, doctor), method: :delete %>
    </li>
  <% end %>
</ul>